{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>JobLand</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="{% static 'assets/css/custom-bs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/line-icons/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/quill.snow.css' %}">


    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6"><a href="{% url 'home' %}">JobLand</a></div>

                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>


                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                    <div class="ml-auto">
                        <a href="{% url 'applicant-profile' user.id %}"
                           class="btn btn-primary border-width-2 d-none d-lg-inline-block">Hi
                            {{request.user.name}}</a>
                        <a href="{% url 'logout' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block">
                            <span class="mr-2 icon-lock_outline"></span>Log Out</a>
                    </div>
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

            </div>
        </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Edit Your Account Settings</h1>
                    <div class="custom-breadcrumbs">
                        <a href="{% url 'home' %}">Home</a> <span class="mx-2 slash">/</span>
                        <span class="text-white"><strong>Account Settings</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section">
        <div class="container">

            <div class="row align-items-center mb-5">
                <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="d-flex align-items-center">
                        <div>
                            <h2>Edit Account Settings</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-12">
                    <form class="p-4 p-md-5 border rounded" method="post" action="">
                        <h3 class="text-black mb-5 border-bottom pb-2">Account Settings</h3>


                        <div class="col-12">
                            <button class="btn btn-block btn-primary btn-md" type="submit">Update Account Settings</button>
                        </div>
                    </form>
                </div>
                {% for message in messages %}

                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    {{ message }}

                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {% include "./footer.html" %}

</div>

<!-- SCRIPTS -->
{% include "./javascript.html" %}

<script>
    var form_fields = document.getElementsByTagName("input")

    form_fields[1].placeholder = 'School Name'
    form_fields[2].placeholder = 'Degree Name'
    form_fields[3].placeholder = 'Department'
    form_fields[4].placeholder = '3.75'

    for (var i = 1; i < form_fields.length; i++) {
        form_fields[i].className += ' form-control'
    }
</script>


</body>
</html>